.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
!node_modules
node_modules/**
!images/**
data/logs.json
data/node_weights.json
data/strategy_cache.json
**/*.vsix
